$color: teal;
// @import "../../node_modules/responsive-tabs/css/responsive-tabs.css";
// @import "../../node_modules/responsive-tabs/css/style.css";

html,
body {
  // height: 100%;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  height: 100%;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  height: 100px;
  background-color: #efefef;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
}
.header__logo {
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-img {
  height: 90%;
}

.header__info {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.time {
  height: 100%;
  &__content {
    height: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
  &__img {
    height: 100%;
    // max-width: 100%;
  }
  &__img_current {
    height: 35px;
    width: 35px;
  }
  &__img_online {
    height: 20px;
    width: 20px;
    margin-left: 8px;
  }
  &__hours {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;

    &_online {
      font-size: 18px;
    }

    &_current {
      font-size: 24px;
    }
  }
}
.new-message {
  display: flex;
  position: relative;
  align-items: center;

  &__link {
    display: flex;
    text-decoration: none;

    align-items: center;
  }

  &__img {
    width: 40px;
  }

  &__count {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #ff5722;
    position: absolute;
    top: 15px;
    right: -15px;
  }
}
.header__text {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__chat-name {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin: 0;
  text-align: center;
  color: #55b9c2;
}
.header__chat-text_small {
  font-size: 15px;
  margin: 0;
  text-align: center;
  color: #ff5722;
}

.profile {
  align-items: center;
  display: flex;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bcd4;
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  &__img {
    height: 70%;
    max-width: 100%;
  }
}

//Main

.main {
  display: flex;
  height: calc(100% - 100px);
  background-color: #e5e5e5;
  padding-left: 5px;
  padding-right: 5px;
}

.members {
  flex-basis: 250px;
  background-color: #c4c4c4;
  border: 1px solid #c4c4c4;
}
.members__title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  height: 40px;
  background-color: #efefef;
  color: #707070;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.members__list {
  height: calc(100% - 80px);
  overflow-y: auto;
}

.members__block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.member {
  display: flex;
  padding-left: 50px;
  .member__icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #e91e63;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .member__icon.inactive {
    background-color: #e5e5e5;
    .member__status {
      display: none;
    }
  }
  .member__img {
    height: 70%;
    max-width: 100%;
  }
  .member__status {
    position: absolute;
    height: 20px;
    bottom: 0;
    right: 0;
  }
  .member__name {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 0px;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.chat__container {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  margin-left: 20px;
  // margin-top: 20px;
  margin-bottom: 20px;
}
.chat-info {
  display: flex;
  flex-basis: 220px;
  height: 220px;
  margin-top: 70px;
  flex-direction: column;
  background-color: #fff;
  margin-left: 20px;
  border: 1px solid #c4c4c4;
}
.chat-info__title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #707070;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.chat-info__list {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

.chat-info__item {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #707070;
  border-bottom: 3px solid #e5e5e5;

  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  &:first-of-type {
    border-top: 3px solid #e5e5e5;
  }
}
.chat {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 20px;
}
.chat-area {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid #c4c4c4;
  border-top: unset;
  box-sizing: border-box;
}
.chat-tab {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
.tab-item {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #c4c4c4;
  margin-right: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
  max-width: 120px;
  width: 100%;
  position: relative;
}
.tab-active {
  border-bottom: unset;
  background-color: #fff;
}
.tab-user-name {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #707070;
  font-family: Arial, Helvetica, sans-serif;
}
.tab-user-status {
  margin-right: 10px;
  width: 13px;
}
.tab-close__btn {
  position: absolute;
  width: 17px;
  top: 8px;
  right: 8px;
}
.message {
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.message__send-time {
  position: absolute;
  bottom: -20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.message__send-time_internal {
  left: 20px;
}
.message__send-time_external {
  right: 20px;
}
.message__internal {
  justify-content: flex-start;
}
.message__external {
  justify-content: flex-end;
}
.message__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #fff;
  width: fit-content;
  margin: 10px 20px;
  padding: 8px 10px;
  border-radius: 8px;
  box-sizing: border-box;
}
.message__text_internal {
  background-color: #ff5722;
}
.message__text_external {
  background-color: #03a9f4;
}
.tool-tip {
  border: 10px solid transparent;
  bottom: -10px;
  position: absolute;
}
.tool-tip_internal {
  border-top: 10px solid #ff5722;
  left: 30px;
}
.tool-tip_external {
  border-top: 10px solid #03a9f4;
  right: 30px;
}
.chat__form {
  align-items: flex-end;
}

.message__block {
  height: calc(100% - 70px);
}
.form__wrap,
.chat__form {
  height: 70px;
}
.form__wrap {
  border: 1px solid #c4c4c4;
}
.chat__controls {
  background-color: #e5e5e5;
}
.form__area {
  height: 60px;
  box-sizing: border-box;
  resize: none;
  flex-basis: auto;
  flex-grow: 1;
  background-color: #ffff;
  margin: 5px;
  border: none;
}
.chat__form {
  display: flex;
}
.btn__controls {
  width: 200px;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-left: 20px;
  border-left: 2px solid #c4c4c4;
  box-sizing: content-box;
}
.chat__controls-btn,
.chat__send-btn {
  margin: 0;
  border: none;
  padding: unset;
  cursor: pointer;
}
.chat__controls-btn {
  height: 50px;
  width: 50px;
  background-color: #c4c4c4;
  box-sizing: content-box;
}
.chat__send-btn {
  background-color: transparent;
  width: 80px;
  height: 50px;
}
.send-img {
  width: 30px;
}

body {
  color: #999;
  background: #f5f5f5;
  font-family: "Varela Round", sans-serif;
}
.form-control {
  box-shadow: none;
  border-color: #ddd;
}
.form-control:focus {
  border-color: #4aba70;
}

.login-form {
  // display: none;
  width: 350px;
  // margin: 0 auto;
  // padding: 30px 0;
  position: fixed;
  top: 20%;
  left: calc(50% - 175px);
}
.login-form.hide {
  display: none;
}

.js-login-form {
  z-index: 101;
  position: relative;
}
.login-form form {
  color: #434343;
  border-radius: 1px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h4 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.login-form .avatar {
  color: #fff;
  margin: 0 auto 30px;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 9;
  background: #4aba70;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar i {
  font-size: 62px;
}
.login-form .form-group {
  margin-bottom: 20px;
}
.login-form .form-control,
.login-form .btn {
  min-height: 40px;
  border-radius: 2px;
  transition: all 0.5s;
}
.login-form .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.login-form .btn {
  background: #4aba70;
  border: none;
  line-height: normal;
}
.login-form .btn:hover,
.login-form .btn:focus {
  background: #42ae68;
}
.login-form .checkbox-inline {
  float: left;
}
.login-form input[type="checkbox"] {
  margin-top: 2px;
}
.login-form .forgot-link {
  float: right;
}
.login-form .small {
  font-size: 13px;
}
.login-form a {
  color: #4aba70;
}

.bg-layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(211, 211, 211, 0.95);
  z-index: 100;
}

.login__message_error {
  color: red;
  margin-top: 5px;
}
